* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}

.header {
  background: #ffffff;
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}
.container {
  background: #e5e5e5;
  margin: 0 auto;
}
.central-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* Main container section */
.central-section {
  padding: 100px 90px;
}
