* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  color: #212121;
}
.header {
  background: #ffffff;
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  color: black;
}
.studia:hover,
.studia:focus {
  color: blue;
}
.portfolio:hover,
.portfolio:focus {
  color: blue;
}
.contacts_list:hover,
.contacts_list:focus {
  color: blue;
}
.email:hover,
.email:focus {
  color: blue;
}
.container {
  background: #e5e5e5;
  margin: 0 auto;
}
/* .central-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* Main container section */
/* .central-section {
  padding: 100px 90px;
} */
/* body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
} */
